
body {
    background-color: #fffafa;
}

h4 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 25px;
}

.form-control {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

.head {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration-color: black;
}

div .chikni {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}

.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: center;
}

.container-fluid .text-center a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.agbaju {
    /* padding-top: 10px; */
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding-bottom: 20px;
}

img .chakana {
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;
}

.dropdown {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.jiggy {
    width: 75%;
    padding-top: 50px;
}

@media(max-width: 767.98px) {
    .chikni img {
        width: 150%;
        height: none;
        max-width: 395px;
        height: auto;
    } 

    .agbaju {
        padding-top: 10px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-bottom: 20px;
    }
} 