
body {
    background-color: #fffafa;
}

a {
    text-decoration-color: red;
}

h4 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 25px;
}

.form-control {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
} 

.head a {
    color: black;
    text-decoration: none; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.chakana {
    width: 600px;
    margin-left: 220px;
}

.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: center;
}

.smada-logo {
    width: 120px;
}

.agbaju {
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding-bottom: 20px;
}

.dropdown {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.jiggy {
    width: 75%;
    padding-top: 50px;
}

@media(max-width: 767.98px) {
    .jumbotron {
        background-color:rgb(212, 209, 209);
    }

    .chakana {
        width: 300px;
        margin-left: 30px;
    }

    .agbaju {
        padding-top: 10px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-bottom: 20px;
    }
} 

@media(min-width: 768px) and (max-width: 1024px) {
    .chakana {
        width: 500px;
        margin-left: 70px;
    }

    .agbaju {
        padding-top: 10px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-bottom: 20px;
    }
} 