
.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: center;
}

.part2 {
    display: flex;
    justify-content: space-around;
}

.mogaji {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.head {
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-link {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

.hello {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.p-next {
    font-family: 'Libre Caslon Text', serif;
    font-size: 15px;
}

.agba-gba img{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

.agbaju {
    padding-top: 10px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding-bottom: 20px;
}

.carousel-inner img {
    margin: auto;
}

@media (max-width: 767.98px) {
    .jumbotron {
        background-color:rgb(255, 251, 251);
    }

    .jumbotron .container-fluid .text-center {
        text-align: left;
    }

    .part2 {
        display: block;
    }

    .menu {
        padding-top: 50px;
    }

    .kampa {
        width: 90%;
    }

    .mogaji {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .head {
        font-size: 28px;
    }

    .navbar-toggler {
        background-color: white;
        outline-color: none;
    }

    .agbaju {
        padding-top: 10px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}
